@import "var.scss";

.fr-header{

	 .banner{
		 a{
			 text-decoration: none;
			 img{
				 width: 100%;
			 }
		 }
	 }
	 .menuLinks{
         padding: 5px;
		 .bars{
			 display: none;
		 }
		 .topmenu,.bottommenu{
			 ul{
				 text-decoration: none;
				 display: inline-block;
				 li{
                     margin: 0px 15px;
					 display: inline-block;
                     a{
						 color: $primaryFontColor;
                         text-decoration: none;
                     }
				 }
			 }
		 }
	 }
	 .upload{
		 padding:10px;
	 }
}
