.fr-header .banner a {
  text-decoration: none; }
  .fr-header .banner a img {
    width: 100%; }

.fr-header .menuLinks {
  padding: 5px; }
  .fr-header .menuLinks .bars {
    display: hidden; }
  .fr-header .menuLinks .topmenu ul, .fr-header .menuLinks .bottommenu ul {
    text-decoration: none;
    display: inline-block; }
    .fr-header .menuLinks .topmenu ul li, .fr-header .menuLinks .bottommenu ul li {
      margin: 0px 15px;
      display: inline-block; }
      .fr-header .menuLinks .topmenu ul li a, .fr-header .menuLinks .bottommenu ul li a {
        text-decoration: none; }
