@import "var.scss";


.loginArea{
    padding:20px;
    .loginPanel{
        padding: 10px;
        font
        .leftArea{
        }
        .rightArea{

        }
        .leftArea,.rightArea{
            padding: 10px;
        }
    }
}


.registerArea{

}
