$primaryFontFamily : 'Tahoma';
$secondaryFontFamily: 'Great Vibes';
$thirdFontFamily: 'Sans Serif';

$primaryFontSize : 18px;
$secondaryFontSize : 16px;
$thirdFontSize : 14px;


*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: $primaryFontFamily,$secondaryFontFamily,$thirdFontFamily;
	font-size: $primaryFontSize;
}
fr-header{
	 .banner{
		 a{
			 text-decoration: none;
			 img{
				 width: 100%;
			 }
		 }
	 }
	 .menuLinks{
		 .bars{
			 display: hidden;
		 }
		 .topmenu{
			 ul{
				 text-decoration: none;
				 display: inline-block;
				 li{
					 a{
						 text-decoration: none;
					 }
					 display: inline-block;
				 }
			 }
		 }
		 .bottommenu{
			 ul{
				 text-decoration: none;
				 display: inline-block;
				 li{
					 display: inline-block;
				 }
			 }
		 }
	 }

}
fr-footer{
	.topfooter{
		background-color: #129271;
		color: #fff;
	}
	.bottomfooter{
		background-color: #000;
		color: #fff;
	}
}
