$primaryFontFamily : 'Tahoma';
$secondaryFontFamily: 'Great Vibes';
$thirdFontFamily: 'Sans Serif';

$primaryFontSize : 18px;
$secondaryFontSize : 16px;
$thirdFontSize : 14px;

// @import ".scss";

*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: $primaryFontFamily,$secondaryFontFamily,$thirdFontFamily;
	font-size: $primaryFontSize;

	.wrapper{
		width: 80%;
		margin: 0px auto;

		@import "header.scss";
		@import "footer.scss";
	}


}
