.fr-header .banner a {
  text-decoration: none; }
  .fr-header .banner a img {
    width: 100%; }

.fr-header .menuLinks {
  padding: 5px; }
  .fr-header .menuLinks .bars {
    display: none; }
  .fr-header .menuLinks .topmenu ul, .fr-header .menuLinks .bottommenu ul {
    text-decoration: none;
    display: inline-block; }
    .fr-header .menuLinks .topmenu ul li, .fr-header .menuLinks .bottommenu ul li {
      margin: 0px 15px;
      display: inline-block; }
      .fr-header .menuLinks .topmenu ul li a, .fr-header .menuLinks .bottommenu ul li a {
        color: #000;
        text-decoration: none; }

.fr-header .upload {
  padding: 10px; }

.fr-footer .topfooter {
  background-color: #129271;
  color: #fff; }
  .fr-footer .topfooter ul li {
    padding: 5px 10px; }
    .fr-footer .topfooter ul li a {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }

.fr-footer .bottomfooter {
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 16px; }

.loginArea {
  padding: 20px; }
  .loginArea .loginPanel {
    padding: 10px; }
    .loginArea .loginPanel .leftArea, .loginArea .loginPanel .rightArea {
      padding: 10px; }

.registerArea {
  padding: 20px; }
  .registerArea .registerPanel {
    padding: 10px; }
    .registerArea .registerPanel .registerForm {
      padding: 10px; }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Tahoma", "Great Vibes", "Sans Serif";
  font-size: 18px;
  color: #000; }
  body .wrapper {
    width: 80%;
    margin: 0px auto; }

@media only screen and (max-width: 1024px) {
  body .wrapper {
    width: 100%; } }
