<div class="" flex layout>
    <div class='banner' flex='30'>
        <a href='/' flex><img src="assets/images/logo.png" alt="Emami Frank Ross" /></a>
    </div>
    <div class='menuLinks' layout='column' layout-align='center end' flex>
        <div class='bars' flex><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class='topmenu' flex layout-align="center center">
            <ul>
                <li><a href='Login'>Login</a></li>
            </ul>
        </div>
        <div class='bottommenu' flex layout layout-align="center center">
                <ul layout layout-align="center center">
                    <li><a href='prescriptions'>Prescriptions</a></li>
                    <li><a href='healthtips'>Health Tips</a></li>
                    <li><a href='howtoorder'>How To Order</a></li>
                    <li><a href='offers'>Offers</a></li>
                </ul>
        </div>
    </div>
</div>
<div class='upload' flex layout>
    <input type="type" name="name" value="" placeholder='Search medicines here' flex>
    <div class="or" flex='8'>
    -OR-
    </div>
    <div class="" layout flex>
        <label for="" flex='80'>Upload ur prescription here.</label>
        <input type="button" name="name" value="Upload here" flex>
    </div>
    <!-- <a href='/' flex><img src="assets/images/logo.png" alt="Emami Frank Ross" /></a> -->
</div>
