// @import ".scss";
@import "var.scss";

@import "app/partials/header.scss";
@import "app/partials/footer.scss";

@import "app/user/login.scss";
@import "app/user/register.scss";

*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: $primaryFontFamily,$secondaryFontFamily,$thirdFontFamily;
	font-size: $primaryFontSize;
	color: $primaryFontColor;

	.wrapper{
		width: 80%;
		margin: 0px auto;

	}
}



@media only screen and (max-width:1024px){
	body .wrapper{
		width: 100%;
	}
}
