$primaryFontFamily : 'Tahoma';
$secondaryFontFamily: 'Great Vibes';
$thirdFontFamily: 'Sans Serif';

$primaryFontSize : 18px;
$secondaryFontSize : 16px;
$thirdFontSize : 14px;

$primaryFontColor: #000;
$secondaryFontColor: #ddd;
$thirdFontColor : #eee;

$standardPadding: 0px;


$radius:10px;
