<div class='banner' flex='30'>
    <a href='/' flex><img src="assets/images/logo.png" alt="Emami Frank Ross" /></a>
</div>
<div class='menuLinks' layout='column' layout-align='center end' flex>
    <div class='bars' flex></div>
    <div class='topmenu' flex>
        <ul>
            <li><a href='Login'>Login</a></li>
        </ul>
    </div>
    <div class='bottommenu' flex >
            <ul layout>
                <li><a href='prescriptions'>Prescriptions</a></li>
                <li><a href='healthtips'>Health Tips</a></li>
                <li><a href='howtoorder'>How To Order</a></li>
                <li><a href='offers'>Offers</a></li>
            </ul>
    </div>
</div>
